body {
  margin: 0;
}

.stroke {
  fill: none;
  stroke: #000;
  stroke-width: 3px;
}

.fill {
  fill: #000;
}

.graticule {
  fill: none;
  stroke: #777;
  stroke-width: 0.5px;
  stroke-opacity: 0.5;
}

.land {
  fill: #777;
}

.boundary {
  fill: none;
  stroke: #000;
  stroke-width: 0.5px;
}