body {
  margin: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 17px;
  overflow: hidden;
  background-color: #ECF0F1;
}

#map-holder {
  width: 100vw;
  height: 100vh;
}

svg rect {
  fill: #ECF0F1;
}

.country {
  stroke: #040404;
  stroke-width: 0.3;
}
.country:hover {
  fill-opacity: 0.95;
  cursor: pointer;
}

.active {
  cursor: default;
}

circle.mark {
  r: 1px;
  fill: red;
  stroke: #000000;
  stroke-width: 0.1;
  fill-opacity: 0.75;
}

#country-details {
  display: none;
  position: absolute;
  background-color: #FFF;
  left: 50px;
  top: 50px;
  padding: 50px;
  width: 250px;
  height: 100px;
}
